*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.composer-cloud
/node_modules
/public/build
/public/hot
/public/storage
/playwright-report
/test-results
/storage/*.key
/storage/pail
/storage/phpstan
/storage/framework/views/*.php
/storage/framework/testing/disks/**
/storage/app/public/products/*.png
/storage/app/public/products/*.jpg
/storage/app/public/products/*.jpeg
/storage/app/public/products/*.webp
/storage/app/public/products/*.gif
/vendor
/backups
/logs/*.log
tmp-test.php
tmp_test.php
Homestead.json
Homestead.yaml
Thumbs.db
